<div class="container">
    <div class="row">

        <div class="card">
            <div class="row">
                <div class="col s4">
                    <div class="content">
                        <form #movieForm='ngForm' (ngSubmit)="addMovie(movieForm)">

                            <div class="row">
                                <div class="input-field col s12 center">
                                    <h3>Manage Movie</h3>
                                </div>
                                <div class="input-field col s12">
                                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="movieService.selectedMovie._id">
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" class="form-control" placeholder="Enter Movie Title" name="title" #title="ngModel" [(ngModel)]="movieService.selectedMovie.titulo">
                                </div>

                                <!-- <div class="input-field col s12">
                                    <input type="text" class="form-control" placeholder="Enter Movie Category" name="category" #category="ngModel" [(ngModel)]="movieService.selectedMovie.categoria">
                                </div>-->

                                <div class="input-field col s12">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Genre">
                                            <mat-option *ngFor="let genre of list_genre" [value]="genre.value">{{genre.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="input-field col s12">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Category">
                                            <mat-option *ngFor="let category of list_category" [value]="category.value">{{category.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div class="input-field col s12">
                                    <input type="date" class="form-control" placeholder="Enter Movie Year" name="year" #year="ngModel" [(ngModel)]="movieService.selectedMovie.annyo">
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" class="form-control" placeholder="Enter Movie Country" name="country" #country="ngModel" [(ngModel)]="movieService.selectedMovie.pais_produccion">
                                </div>
                                <div class="input-field col s12">
                                    <input type="number" class="form-control" placeholder="Enter Movie Duration in minutes" name="duration" #duration="ngModel" [(ngModel)]="movieService.selectedMovie.duracion">
                                </div>
                                <div class="input-field col s12">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Director">
                                            <mat-option *ngFor="let director of directorService.list_directors" [value]="director._id">{{director.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="input-field col s12">
                                    <mat-form-field>
                                        <mat-select multiple="3" placeholder="Select Actors">
                                            <mat-option *ngFor="let actor of actorService.list_actors" [value]="actor._id">{{actor.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="input-field col s12">
                                    <input type="image" class="form-control" placeholder="Enter Movie Image" name="image" #image="ngModel" [(ngModel)]="movieService.selectedMovie.image">
                                </div>

                                <br/>
                                <div class="card-action">
                                    <div class="input-field col s8">
                                        <button class="btn" id="Submit" type="submit">Submit</button>

                                        <a href="" class="btn btn-default right" (click)="resetForm(movieForm)">Reset</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col s1"></div>

                <div class="col s7">
                    <table>
                        <thead>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Genre</th>
                            <th>Year</th>
                            <th>Country</th>
                            <th>Duration</th>
                            <th>Director</th>
                            <th>Actors</th>
                            <th>Image</th>
                            <th>Options</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let movie of movieService.list_movies">
                                <td>{{ movie.titulo }}</td>
                                <td>{{ movie.categoria }}</td>
                                <td>{{ movie.genero }}</td>
                                <td>{{ movie.annyo }}</td>
                                <td>{{ movie.pais_produccion }}</td>
                                <td>{{ movie.duracion }}</td>
                                <td>{{ movie.director.name }}</td>
                                <td>{{ movie.actors }}</td>
                                <td>{{ movie.image }}</td>
                                <td>
                                    <a (click)="editMovie(movie)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a (click)="deleteMovie(movie._id)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</div>

<!--

   <div class="input-field col s12 col s12">
                                    <select class="select-dropdown" placeholder="Select Genre" name="genre" #genre="ngModel" [(ngModel)]="movieService.selectedMovie.genero">
                                     <option value="genre" *ngFor="let genre of list_genre"> {{ genre }}</option>
                                  </select>
                                </div>

    <select [(ngModel)]="list_category" id="category">
    <option value="" disabled selected>select a category</option>
    <option *ngFor="let item of list_category" [value]="item">{{item}}</option>
  </select>

-->