<div class="container">
    <div class="row">

        <div class="card">
            <div class="row">
                <div class="col s5">
                    <div class="content">
                        <form #actorForm='ngForm' (ngSubmit)="addActor(actorForm)">

                            <div class="row">
                                <div class="input-field col s12 center">
                                    <h3>Manage Actor</h3>
                                </div>
                                <div class="input-field col s12">
                                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="actorService.selectedActor._id">
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" class="form-control" placeholder="Enter Actor's Name" name="name" #name="ngModel" [(ngModel)]="actorService.selectedActor.name">
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" class="form-control" placeholder="Enter Actor's Nationality" name="nationality" #nationality="ngModel" [(ngModel)]="actorService.selectedActor.nationality">
                                </div>

                                <br/>
                                <div class="card-action">
                                    <div class="input-field col s12">
                                        <button class="btn" id="Submit" type="submit">Submit</button>

                                        <a href="" class="btn btn-default right" (click)="resetForm(actorForm)">Reset</a>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col s7">
                    <table>
                        <thead>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Nationality</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actor of actorService.list_actors">
                                <td>{{ actor._id }}</td>
                                <td>{{ actor.name }}</td>
                                <td>{{ actor.nationality }}</td>
                                <td>
                                    <a (click)="editActor(actor)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a (click)="deleteActor(actor._id)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>